# Data Analysis Project

For this project I took the arrivals data and created a mysql db called arrivals. I split the data into 2 tables; one for AMWEST and another for Alaska airlines.

This was my first time working with Python and a db. it took some time to get the data out and turn it into a useable format. Prior to creating a Pandas Data Frame I stored the data in a dictionary. Keyed by airport, with arrival counts as values.

In [1]:
import pandas as pd
import pymysql


db = pymysql.connect('localhost', '*****', '*****', 'arrivals')
cursor = db.cursor()


def get_tables(sql):
    tables = cursor.execute(sql)
    result = cursor.fetchall()
    tables_l = []
    for (table_name,) in result:
        tables_l.append(table_name)
    return tables_l

def get_columns(sql):
    columns = cursor.execute(sql)
    result = cursor.fetchall()
    column_list = []
    for (column_name, type, set, some1, some2, some3) in result:
        column_list.append(column_name)
    return column_list

def tbl_columns(columns1):
    tbl_al = []
    c_names = columns1
    for i in c_names:
        tbl_al.append(c_names)
    return tbl_al

def return_data(sql):
    st = cursor.execute(sql)
    result = cursor.fetchall()
    data = []
    for value in result:
        data.append(value)
    return data

def tbl_data(tbl, data):
    new_dict = dict(zip(tbl[0], data[0]))
    return new_dict

def p_df(data):
    df = pd.DataFrame([[key, value] for key, value in data.items()], columns=["Airport", "Value"])
    on = df[df['Airport'].str.contains('ONTIME')]
    val_cols = [c for c in on.columns if c.startswith('Val')]
    max_on = on[val_cols].max()
    min_on = on[val_cols].min()
    delay = df[df['Airport'].str.contains('DELAYED')]
    max_del = delay[val_cols].max()
    min_del = delay[val_cols].min()
    return max_on, min_on, max_del, min_del




if __name__ == '__main__':
    t_sql = 'show tables'
    tables = get_tables(t_sql)
    column_sql = 'show columns from arrivals.amwest_arrivals'
    columns = get_columns(column_sql)
    a = tbl_columns(columns)
    al_data_sql = 'select * from arrivals.alaska_arrivals'
    am_data_sql = 'select * from arrivals.amwest_arrivals'
    data_al = return_data(al_data_sql)
    data_am = return_data(am_data_sql)
    comb_data_al = tbl_data(a, data_al)
    comb_data_am = tbl_data(a, data_am)
    al_max_on, al_min_on, al_max_del, al_min_del = p_df(comb_data_al)
    am_max_on, am_min_on, am_max_del, am_min_del = p_df(comb_data_am)
    print ('alaska {}'.format(comb_data_al))
    print ('most on time: {},'
           'least on time: {},'
           'most delayed: {},'
           'least delayed: {}'.format(al_max_on, al_min_on, al_max_del, al_min_del))
    print('amwest {}'.format(comb_data_am))
    print('most on time: {},'
          'least on time: {},'
          'most delayed: {},'
          'least delayed: {}'.format(am_max_on, am_min_on, am_max_del, am_min_del))

alaska {'SD_DELAYED': 20, 'PHX_ONTIME': 221, 'SF_DELAYED': 102, 'SD_ONTIME': 212, 'PHX_DELAYED': 12, 'LAX_ONTIME': 497, 'SF_ONTIME': 503, 'STL_DELAYED': 305, 'LAX_DELAYED': 62, 'STL_ONTIME': 1841}
most on time: Value    1841
dtype: int64,least on time: Value    212
dtype: int64,most delayed: Value    305
dtype: int64,least delayed: Value    12
dtype: int64
amwest {'SD_DELAYED': 65, 'PHX_ONTIME': 4840, 'SF_DELAYED': 129, 'SD_ONTIME': 383, 'PHX_DELAYED': 415, 'LAX_ONTIME': 694, 'SF_ONTIME': 320, 'STL_DELAYED': 61, 'LAX_DELAYED': 117, 'STL_ONTIME': 201}
most on time: Value    4840
dtype: int64,least on time: Value    201
dtype: int64,most delayed: Value    415
dtype: int64,least delayed: Value    61
dtype: int64

we see that alaska airlines flies more to STL where they have the highest number of ontime and delayed arrivals. least number of delayed flights are to PHX. not calculated, but the the least amount of flights are to LAX 111 in total.

amwest flies to Phoneix most 5250 total and they have the highest amount of ontime and delayed arrivals. least delays are to STL, but low number of total arrivals. 

there seems to be a correlation between the airport that the carrier flies to most with the number of ontime and delayed arrivals.